
obj/Release/net6.0/Pluto.GlobalUsings.g.cs
obj/Release/net6.0/Pluto.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/Pluto.csproj.AssemblyReference.cache
obj/Release/net6.0/Pluto.assets.cache
obj/Release/net6.0/Pluto.AssemblyInfoInputs.cache
obj/Release/net6.0/Pluto.AssemblyInfo.cs
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/project.nuget.cache
obj/project.assets.json
obj/Pluto.csproj.nuget.g.targets
obj/Pluto.csproj.nuget.g.props
obj/Pluto.csproj.nuget.dgspec.json
obj/Debug/net6.0/refint/Pluto.dll
obj/Debug/net6.0/ref/Pluto.dll
obj/Debug/net6.0/Pluto.pdb
obj/Debug/net6.0/Pluto.GlobalUsings.g.cs
obj/Debug/net6.0/Pluto.genruntimeconfig.cache
obj/Debug/net6.0/Pluto.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Pluto.csproj.ResolveComReference.cache
obj/Debug/net6.0/Pluto.csproj.AssemblyReference.cache
obj/Debug/net6.0/Pluto.assets.cache
obj/Debug/net6.0/Pluto.AssemblyInfoInputs.cache
obj/Debug/net6.0/Pluto.AssemblyInfo.cs
obj/Debug/net6.0/Interop.IWshRuntimeLibrary.dll
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
